## Section 1b. Introduction to Python

### Section 1b.1 What is Python

Python is an interpreted, object-oriented, high-level programming language with dynamic semantics.

**What is interpreted language?**

An interpreted language is a type of programming language for which most of its implementations execute instructions directly and freely, without previously compiling a program into machine-language instructions. Essentially, you don't need to compile it.

**What is object oriented language?**

An object-oriented language is a computer programming language that revolves around the concept of an object. Object-oriented languages were developed to make it easier to develop, debug, reuse, and maintain software than is possible with earlier languages.

**What is high level programming language?**

High-level languages intend to provide features which standardize common tasks, permit rich debugging, and maintain architectural agnosticism; while low-level languages often produce more efficient code through optimization for a specific system architecture.

Examples are python, java, perl, php. Examples of low level programming languages are C and assembly. Some of these low level programming languages are also known as close to the metal / bare metal languages because they allow you to interact directly with the metal (computer machine).

**What is dynamic semantics?**

Dynamics objects are instances of values instantiated during run time. If we assign an object different types of values during the course of the run time, the value type will update itself. For instance, if we assign the value of 5 to object temp_value, it will be stored as an int 5. If we thereafter assign it to 'hello world', it will be updated to a string of value "hello world".

*Source: https://www.python.org/doc/essays/blurb/*

### Section 1b.2 Simple "Hello World" code snippets

You can just do the print using the typical print command.

In [ ]:
print("Hello World")

Hello World

Let's try to do it by putting the another text in a string.

In [ ]:
temp_string = "Nice to meet you"

print(temp_string)

Nice to meet you

If we want to add in the name to the statement

In [ ]:
print(temp_string, ", Alice")

Nice to meet you , Alice

But you notice there is a strange space there. So what you can do is:

In [ ]:
print(temp_string + ", Alice")

Nice to meet you, Alice

This plus symobol means that we are defining two strings, one is temp_string and the other is ", Alice". We are then going to combine / concatenate these strings together.

**f-strings**

If you read some older python programming syntaxes, you would find that there are several other ways of formatting text strings. Examples of these are using the .format or the %s formats. These are still supported by Python but they are discouraged because of the low level of readibility. What is recommended now is to use a f-string like this:

In [ ]:
print(f"{temp_string}, Alice")

Nice to meet you, Alice

*Exercise 1b.1*

Try to write the code to print out the following statement:

Nice to meet you, Ben and Alice.

Make sure to use all three variables and the f string command.

In [ ]:
greeting_string = "Nice to meet you"
name_one = "Ben"
name_two = "Alice"

In [ ]:
print(f"{greeting_string}, {name_one} and {name_two}")

Nice to meet you, Ben and Alice

### Section 1b.3 Variable Types

Python has five standard data types and they are:
*   Numbers
*   String
*   List
*   Dictionary
*   Tuple

**Numbers**

Number Types

Python supports three types of numbers. They are int, float and complex. For this course we will only be working with int and floating numbers.

Int numbers are whole numbers while floating numbers are decimal numbers.

In [ ]:
print(f"{greeting_string}, my name is {name_one} and I am 3 years old.")

Nice to meet you, my name is Ben and I am 3 years old.

In [ ]:
year_one = 3
print(f"{greeting_string}, my name is {name_one} and I am {year_one} years old.")

Nice to meet you, my name is Ben and I am 3 years old.

In [ ]:
height_one = 87.3
print(f"{greeting_string}, my name is {name_one} and I am {year_one} years old. I am very tall for my age, about {height_one}cm.")

Nice to meet you, my name is Ben and I am 3 years old. I am very tall for my age, about 87.3cm.

Number manipulation

The typical operators apply.

*   \+ addition
*   \- subtraction
*   \* multiplication
*   \/ division

In [ ]:
print(6 + 4)
print(6 - 4)
print(6 * 4)
print(6 / 4)

10
2
24
1.5

In [ ]:
t_1 = 6
t_2 = 4

print(t_1 + t_2)
print(t_1 - t_2)
print(t_1 * t_2)
print(t_1 / t_2)

10
2
24
1.5

There is also a math library that we can use. From the math library we will be able to get certain constants or carry out functions such as square root etc.

In [ ]:
import math

print(math.pi)

3.141592653589793

Notice that the number of decimal points are quite a lot. If we only want to see 2 of them, we can do the following:

In [ ]:
print(f"{math.pi:.2f}")

3.14

Note that this does not change the value of the variable, just the way it is displayed.

In [ ]:
temp_pi = math.pi
print(f"{temp_pi:.2f}")

3.14

In [ ]:
print(f"{temp_pi}")

3.141592653589793

If we really want to convert the variable to just two decimal places, we have to use the *round* function:

In [ ]:
temp_pi_2 = round(temp_pi, 2)
print(temp_pi_2)

3.14

*Exercise 1b.2*

Calculate the area of a square with sides 5cm. Store it in a variable known as square_area. Print out the entire statement:

"The area of a square of sides 5 cm is xxx cm squared"

In [ ]:
side = 5
square_area = side * side

print(f"The area of a square of sides {side} cm is {square_area} cm squared")

The area of a square of sides 5 cm is 25 cm squared

*Exercise 1b.3*

Calculate the area of a rectangle with sides 10 cm and 5 cm. Store it in a variable known as rectangle_area. Print out the entire statement:

"The area of a rectangle of sides 10 cm and 5 cm is xxx cm squared"

In [ ]:
side_1 = 10
side_2 = 5

rectangle_area = side_1 * side_2

print(f"The area of a rectangle of sides {side_1} cm and {side_2} cm is {rectangle_area} cm squared")

The area of a rectangle of sides 10 cm and 5 cm is 50 cm squared

*Exercise 1b.4*

Calculate the area of a circle of radius 3.5 cm. Store it in a variable known as circle_area. Print out the value of the circle to 3 decimal points.

In [ ]:
radius = 3.5
circle_area = math.pi * radius * radius

print(f"{circle_area:.3f}")

38.485

*Exercise 1b.5*

Given the following triangle, find the area of the triangle. Print it to 3 decimal places.

![alt text](https://drive.google.com/uc?export=view&id=1NJgSCCx6t5tN51pykIkuo7IKFVVX08tv)

Revision:

The area of the triangle is:
0.5 * height * width

The width of this triangle is 20

The height of this triangle can be found by taking the sine of the angle multiple by 11.

You can use the sine by using the math.sin function. You can find out more about the function here:

https://www.w3schools.com/python/ref_math_sin.asp

In [ ]:
round(0.5 * 11 * 20 * math.sin(math.radians(50)), 3)

84.265