## Section 2b. For Loops

### Section 2b.1 Introducing the for loop statement

For loops allow you to run a series of statements, or various pieces of code until a certain condition is reached.

**Eating eating**

For example, let's say you are very hungry and you cannot and won't stop eat for as long as you are hungry. Hence the for loop condition for your decision making is:

```
for as long as my stomach is hungry,
  I will take another mouth of this icecream
```

So what you do is that you eat a mouth of ice-cream. Then you think if you stomach is still hungry or not. Obviously the answer is no, and hence you will continue eating the ice-cream.

What we have seen here is two things. The first is the condition (also known as the terminating condition):

```
is my stomach still hungry?
```

the second is the "action":

```
eat another mouth of ice cream
```

These are the two elements of a for loop which you should always have.

**The wantan man**

In the second example, imagine yourself at 5am, at the wantan noodle store before the store is open. It will not be surprising to see the wantan man wrapping wantan using the meat around the flour skin. In his mind, he is saying that today I need to wrap (eg) 500 wantans, in his mind, his for loop will be:

```
for number of wantans less than 500,
  wrap wantan
```

### Section 2b.2 Importance of the for loop

Such loops are important in computer programs as in real life. For example, if you are wearing shoes, you loop is,

```
for as long as feet is still bare:
  wear shoes
```

```
for as long as mind is bored:
  play game (maybe genshin impact)
```

```
for as long as legs are not tired:
  run faster
```

In computer programming, this is also very common. For example, if you are updating the scores of students, one common statement that could happen is,

```
for all students in the class:
  add one mark to their quiz 2
```

### Section 2b.3 Example for loop

Let's say that there is list of students in the class, known as student list, and the list of their quiz 2 scores.

True

amy
ben
cody

Let's break down the earlier statements one by one. The first part:

```
student_2251_list = ['amy', 'ben', 'cody']
student_2251_quiz_2 = [50,60,70]
```

Declares two lists / array. The first list is the list of student names in the course 2251 (if you name is one of the three names here, it is purely coincidental). The second list declares their scores for quiz 02. So Amy gets a score of 50, Ben a score of 60 and Cody a score of 70.

In the second part, we see the following:

```
for student in student_2251_list:
  print(student)
```

**First method of using a for loop**

This means that for each of the student we find within the 2251 list, we will be printing out the name of the student. On a broad level, this means that the statement

```
for each_item in full_list
```

will iterate through every item in the full_list.

The syntax is the following:

1.   We first have the for loop terminating condition.
2.   After the condition we have the colon character.
3.   Below the colon character and indented, will be code block within the for loop.

amy is a student in my class
ben is a student in my class
cody is a student in my class

If we do not have the indentation correct, notice that the last line will only be printed once as it is not within the for loop.

amy
ben
cody
the name above is a student

Let's look at the next part of the example. Recall that in a list, we are able to access the individual elements through an index. Hence if we want to add in ten marks to every student in the list, one way of doing that is:

```
student_2251_quiz_2[0] += 10
student_2251_quiz_2[1] += 10
student_2251_quiz_2[2] += 10
```

Note that

```
student_2251_quiz_2[0] += 10
```

```
student_2251_quiz_2[0] = student_2251_quiz_2[0] + 10
```

are the same.

**Second method of using a for loop**

But of course you will definately say that typing such instructions is a waste of time. Hence the proper way of doing that will be:

[70, 60, 80]

Note that the student scores have increased by 10 points. Lets break down what the for loop is saying. In the earlier paragraph, we talked about accessing each element manually, by accessing the index one by one. What the for loop does is by automating this iteration of the index. The variable i holds the value of the index.

If we are to print out the value of i, we get:

We see that the value of i increases from 0 all the way to 2. The value of 2 is determined by the length of the array. This length of array is obtained from the command:

So if we convert the first line to english, it means

```
for i in range(len(student_2251_quiz_2)):
  print(i)
```

Iterate the value of i, from the value of 0 to length of array student_2251_quiz_2. For each value of i, print it out. We will be speaking more on this range function shortly. After updating the quiz scores, we will be able to print out the names and their scores.

amy scored 70 marks
ben scored 60 marks
cody scored 80 marks

*Exercise 2b.1*

Find the sum of all elements in a list.

In [ ]:
# Do not delete this cell. The exercise 2b requires this array.

temp_list = [4,6,2,5,7,4,5,2,4]

39

*Exercise 2b.2*

Find the maximum element in a list.

7

Find the second largest element in the list

[4, 6, 2, 5, 7, 4, 5, 2, 4]

6
4

[4, 6, 2, 5, 7, 4, 5, 2, 4]

7 6

*Exercise 2b.3*

Find the average of a list.

[4, 6, 2, 5, 7, 4, 5, 2, 4]
[6, 2, 5, 7, 4, 5, 2]

4.428571428571429

### Section 2b.4 Range command

The previous example of the for loop used the range command with the length of the list. The syntax of the for the range is the following:

```
range(end_value)
```

When we have only one parameter in the range function, it means we will iterate from 0, to the value of end_value in steps of 1.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Note that the range value ends at end_value - 1. What this means is that it does not end at 10, but at 9.

```
range(start_value, end_value)
```

When we have two parameters in the range function, it means we will iterate from start_value, to the value of end_value in steps of 1.

[5, 6, 7, 8, 9]

```
range(start_value, end_value, step)
```

When we have three parameters in the range function, it means we will iterate from start_value to the value of end_value in steps of step.

[0, 2, 4, 6, 8]

*Exercise 2b.4*

Write a code to print the numbers from 5 to 10 (both numbers inclusive)

5
6
7
8
9
10

*Exercise 2b.5*

Find the sum of all odd elements in a list.

In [ ]:
# Do not delete this cell. The exercise 2b requires this array.

temp_list = [4,6,2,5,7,4,5,2,4]

[1, 3, 5, 7]

17

*Exercise 2b.6*

Find the sum of every third element in a list, starting from the third element.

10

### Section 2b.5 Index, Break and Continue

**Index**

At times you may also want to get the index as well as the element in the for loop. You can do it with the following command:

0 4
1 6
2 2
3 5
4 7
5 4
6 5
7 2
8 4

**Continue**

There are times when within the loop, you may want to exit the loop prematurely, or ignore certain parts of the list. For example, if we have a list and we want to sum up all the values of the array, other than the value in index 4. How this is done is the following:

32

**Break**

There are also times where you want to exit the loop altogether. For instance, if we wish to sum an array until we hit the value of 5.

[4, 6, 2, 5, 7, 4, 5, 2, 4]

12

*Exercise 2b.7*

Write a for loop to count the number of elements in temp_list that is divisible by 3.

1

##### Quiz 2b.1

https://www.hackerrank.com/challenges/python-loops/problem?isFullScreen=true

##### Quiz 2b.2

https://www.hackerrank.com/challenges/python-print/problem?isFullScreen=true