## Section 6c: Introduction to Functional Programming

Most of the time, we have been more exposed to the concept of object orientated programming or procedural programming. What OO programming does is that we work on the state of the instanatiated classes of the OO objects and manupilate them along the way. Procedural programming based on the subject of procedure calls.

### Section6c.1 What is Functional Programming?

In computer science, functional programming is a programming paradigm where programs are constructed by applying and composing functions. It is a declarative programming paradigm in which function definitions are trees of expressions that each return a value, rather than a sequence of imperative statements which change the state of the program.
(source: wikipedia)

### Section6c.2 Motivation to Functional Programming

The main reason why functioning programming is being used because it can be used in distributed systems. Let's have a motivating example:

Assume we have a log of recommended movies in my netflix account:

In [ ]:
movie_recommendation = [
    "dark",
    "altered carbon"
    "stranger things",
    "witcher",
    "money heist",
    "altered carbon"
]

Suppose I want to find out how many times each movie was recommended to me. A way to do so is to write a function like this:

In [ ]:
num_recommendations = 0

def count_recommendations(count_movie):
    global num_recommendations
    global movie_recommendation
    for movie in movie_recommendation:
        if movie == count_movie:
            num_recommendations = num_recommendations + 1
    return num_recommendations

In [ ]:
count_recommendations("altered carbon")

1

Using this function, you would note that everytime we run the count_recommendations function the count would increase, although the number of times altered carbon was recommended to me is only 2.

Naturally, you would notice that the function is not very well written, but its to show a point that its quite easy to make such mistakes when you are running code on parallel machines, esp when machines need to be restarted.

Functional programming works quite differentiately because it designs your functions to have no "side effects". What does this mean? Lets look at a few examples of typical programming styles and try to see if we are able to convert them to the functional style or not. Let's go through some of the examples.

### Section6c.3 Examples of pure versus impure functions

#### Example 1: Hello World
The first example we evaluate is the typical "Hello World" function. A typical hello world function is written like this:

In [ ]:
# Hello World

def hello_python():
    print("hello python")

hello_python()

hello python

This function is not pure for several reasons. Some of these reasons include:

<ul>
<li>No input is being taken in, so it will have to require knowledge of what the function is supposed to print out.</li>
    <li>It prints it out to stdout, which is typically a side effect.</li>
</ul>

Do note that typically it is impossible to eliminate impure functions from your code and they will eventually be necessary. However this way of programming aims to seperate your pure codes from your impure codes for easy debugging.

#### Example 2: Remove last item

The next example shows two functions which removes the last item from the list.

In [ ]:
def remove_last_item_in_place(mylist):
    mylist.pop(-1)  # This modifies mylist

In [ ]:
def remove_last_item_copy(mylist):
    return mylist[:-1]  # This returns a copy of mylist

Although both examples remove the last item from the list, in the first function, we remove only the items in the list and pops out and modifies the actual list. There is thus a "side effect" where the original list is changed.

This is in contrast to the next function that returns a copy of the list, leaving the original list untouched. Hence having "no side effect".


#### Example 3: Adding two numbers

In [ ]:
# Create a global variable `A`.
global_variable = 5

def impure_sum(b):
    global global_variable
    return b + global_variable

def pure_sum(a, b):
    return a + b

print(impure_sum(6))
print(pure_sum(4, 6))

11
10

A easy way to think about impure functions is that they allow my functions to be stateless, depending purely on the input of the functions to achieve a certain output.

### Section6c.4 Immutable Data Structures

Recall that in our earlier section, we mentioned that in functional programming, there should not be any side effects which occur. Practically, this means that if we had to carry out a certain operation on a data structure, that data structure should not be changed. Rather, we should be returning a copy of the data structure, leaving the original data structure unchanged.

In order to achieve that, we introduce the concept of an immutable data structure.

However before that, let us do a quick recap once again some of the typical data structures popular in python.

We have a list:

In [ ]:
temp_list = ["apples", "oranges", "strawberries"]
print(temp_list[0])
temp_list[0] = 'pineapples'
print(temp_list[0])

apples
pineapples

We also have a dictionary:

In [ ]:
temp_dict ={
    "main": "noodle",
    "fruit": "apple",
    "drinks": "tea"
}
print(temp_dict)
temp_dict["main"] = "steak"
print(temp_dict)

{'main': 'noodle', 'fruit': 'apple', 'drinks': 'tea'}
{'main': 'steak', 'fruit': 'apple', 'drinks': 'tea'}

Finally we saw in the last lesson we have a list of dictionaries:

In [ ]:
from pprint import pprint
daily_meal = [
    {'meal': 'breakfast', 'main': 'bread', 'fruit': 'apples', 'drink': 'coffee', 'calories':500},
    {'meal': 'lunch', 'salad': 'noodle', 'fruit': 'grapes', 'drink': 'soda', 'calories': 300},
    {'meal': 'dinner', 'main': 'steak', 'fruit': 'watermelon', 'drink': 'sparkling water', 'calories': 700}
]
pprint(daily_meal)

[{'calories': 500,
  'drink': 'coffee',
  'fruit': 'apples',
  'main': 'bread',
  'meal': 'breakfast'},
 {'calories': 300,
  'drink': 'soda',
  'fruit': 'grapes',
  'meal': 'lunch',
  'salad': 'noodle'},
 {'calories': 700,
  'drink': 'sparkling water',
  'fruit': 'watermelon',
  'main': 'steak',
  'meal': 'dinner'}]

Notice that the daily_meal list of dictionaries: is mutable and can be easily changed

In [ ]:
daily_meal[0]['meal'] = 'brunch'
pprint(daily_meal)

[{'calories': 500,
  'drink': 'coffee',
  'fruit': 'apples',
  'main': 'bread',
  'meal': 'brunch'},
 {'calories': 300,
  'drink': 'soda',
  'fruit': 'grapes',
  'meal': 'lunch',
  'salad': 'noodle'},
 {'calories': 700,
  'drink': 'sparkling water',
  'fruit': 'watermelon',
  'main': 'steak',
  'meal': 'dinner'}]

What we really want is to ensure that the data structures used are immutable, and for that we will use that of the collections library. Let's define first a factor method.

In [ ]:
import collections

meal_collection = collections.namedtuple('meal', [
    'meal',
    'main',
    'fruits',
    'drink',
    'calories'
])

In [ ]:
meal_collection

__main__.meal

Now we can create a meal collection using the following:

In [ ]:
temp_meal = meal_collection(meal='breakfast', main='bread', fruits='apples', drink='coffee', calories=500)

In [ ]:
print(temp_meal.meal)
temp_meal.meal = "brunch"

breakfast

AttributeError: ignored

In [ ]:
print(temp_meal.meal)

breakfast

Now let's set our meal for the day. It will be:

In [ ]:
meal_list = [
    meal_collection(meal='breakfast', main='bread', fruits='apples', drink='coffee', calories=500),
    meal_collection(meal='lunch', main='noodle', fruits='grapes', drink='soda', calories=300),
    meal_collection(meal='dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700)
]

In [ ]:
pprint(meal_list)

[meal(meal='breakfast', main='bread', fruits='apples', drink='coffee', calories=500),
 meal(meal='lunch', main='noodle', fruits='grapes', drink='soda', calories=300),
 meal(meal='dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700)]

In [ ]:
del meal_list[0]

In [ ]:
pprint(meal_list)

[meal(meal='lunch', main='noodle', fruits='grapes', drink='soda', calories=300),
 meal(meal='dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700)]

However the list is still mutable. To resolve this, we use a tuple instead and that can be done by the following:

In [ ]:
meal_list = [
    meal_collection(meal='breakfast', main='bread', fruits='apples', drink='coffee', calories=500),
    meal_collection(meal='lunch', main='noodle', fruits='grapes', drink='soda', calories=300),
    meal_collection(meal='dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700)
]
meal_tuple = tuple(meal_list)

In [ ]:
pprint(meal_tuple)

(meal(meal='breakfast', main='bread', fruits='apples', drink='coffee', calories=500),
 meal(meal='lunch', main='noodle', fruits='grapes', drink='soda', calories=300),
 meal(meal='dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700))

A better way is to define the tuple immediately instead of going through the list.

In [ ]:
meal_tuple = (
    meal_collection(meal='breakfast', main='bread', fruits='apples', drink='coffee', calories=500),
    meal_collection(meal='lunch', main='noodle', fruits='grapes', drink='soda', calories=300),
    meal_collection(meal='dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700)
)

In [ ]:
pprint(meal_tuple)

(meal(meal='breakfast', main='bread', fruits='apples', drink='coffee', calories=500),
 meal(meal='lunch', main='noodle', fruits='grapes', drink='soda', calories=300),
 meal(meal='dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700))

In [ ]:
del meal_tuple[0]

TypeError: ignored

Hence now we have our immutable data objects that can be used for functional programming (tuple of collections)

### Section6c.5 Lambda Functions

Lambda functions can be seen as an inline function. The colon seperates between the input parameter and the expression. On the left side of the colon, you have the input parameters that the function is able to take. On the right side of the colon, you have the expression which operates on the input parameters. For instance:

In [ ]:
x = lambda x : x * 2
print(x(5))

10

This expression function takes in one parameter, multiplies it by two and returns the value. Take another example, this time a lambda function which takes in two parameters.

In [ ]:
x = lambda x, y : x * y
print(x(5, 6))

30

This lambda operator is most often used with other functions such as map and filter, as we will soon see below.

### Section6c.6 Filter Functions

Filter allows us to perform a function over an iterable of things. It returns us an iterable which we can go through step by step through  a for loop

In [ ]:
heavy_meal = filter(lambda x: x.calories > 500, meal_tuple)

In [ ]:
for m in heavy_meal:
    print(m)

meal(meal='dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700)

In [ ]:
pprint(tuple(filter(lambda x: x.meal == 'breakfast', meal_tuple)))

(meal(meal='breakfast', main='bread', fruits='apples', drink='coffee', calories=500),)

The procedural form will be:

In [ ]:
for temp_meal in meal_tuple:
    if temp_meal.meal == 'breakfast':
        print(temp_meal)

meal(meal='breakfast', main='bread', fruits='apples', drink='coffee', calories=500)

This form of programming is extremely crucial as we carry out parallel processing.

The recommended "pythonic" way of doing is through a technique known as list comprehensions. You can carry out the following:

In [ ]:
[x for x in meal_tuple if x.calories > 500]

[meal(meal='dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700)]

In [ ]:
pprint(tuple(x for x in meal_tuple if x.calories > 500))

(meal(meal='dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700),)

### Section6c.7 Map Functions

Map is similar to filter, but map allows us to make a certain change to manipulate the iterables that are passed in. In contrast, filter only extracts out the values from the iterables where the function returns true. Let's use the following example to illustrate that. Let's say we have an initially we have a list of numbers:

In [ ]:
temp_list = [1,2,3,4,5]

If we are to run the filter command, we will return the values of the original list where the function returns true. Notice that the numbers are unchanged and (as every single value will return true in this case), the entire list is returned.

In [ ]:
list(filter(lambda x: x *2, temp_list))

[1, 2, 3, 4, 5]

If we contrast the map function with the lambda function, in this case we notice that the values undergo the manupilation as stipulated in the lambda function and we have the values doubled.

In [ ]:
list(map(lambda x: x *2, temp_list))

[2, 4, 6, 8, 10]

Let's look back at the meal tuple again. Lets assume that we want to create just a list of dictionaries consisting of only the meal and the calories.

In [ ]:
meal_tuple = (
    meal_collection(meal='BreakFast', main='bread', fruits='apples', drink='coffee', calories=500),
    meal_collection(meal='Lunch', main='noodle', fruits='grapes', drink='soda', calories=300),
    meal_collection(meal='Dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700)
)

In [ ]:
meal_calories = list(map(lambda x: {"meal": x.meal, "calories":x.calories}, meal_tuple))

In [ ]:
meal_calories

[{'meal': 'BreakFast', 'calories': 500},
 {'meal': 'Lunch', 'calories': 300},
 {'meal': 'Dinner', 'calories': 700}]

Suppose I want the meals to be in lower case, I can easily do the following:

In [ ]:
meal_calories = list(map(lambda x: {"meal": x.meal.lower(), "calories":x.calories}, meal_tuple))

In [ ]:
meal_calories

[{'meal': 'breakfast', 'calories': 500},
 {'meal': 'lunch', 'calories': 300},
 {'meal': 'dinner', 'calories': 700}]

To convert this to a list expression (the more pythonic way of doing it)

In [ ]:
[{"meal":x.meal.lower(), "calories":x.calories} for x in meal_tuple]

[{'meal': 'breakfast', 'calories': 500},
 {'meal': 'lunch', 'calories': 300},
 {'meal': 'dinner', 'calories': 700}]

### Section6c.8 Reduce Functions

The reduce function comprises of three parameters, the first paramter is a function, and the second parameter is the iterable. The last parameter is the initial value. The reduce function will reduce the entire iterable into one single value. Let's say we want to calculate the number of calories I ate in the day, I would need to add up all the calories in the tuple

In [ ]:
from functools import reduce

In [ ]:
reduce(lambda x, y: (x + y.calories), meal_tuple, 0)

1500

The list expression way to do it would be the following:

In [ ]:
sum(x.calories for x in meal_tuple)

1500

### Section6c.9 Application of Functional Programming

In [ ]:
import timeit

mysetup = '''

import time
import timeit
import collections
from pprint import pprint
from multiprocessing.pool import ThreadPool as Pool

meal_collection = collections.namedtuple('meal', [
    'meal',
    'main',
    'fruits',
    'drink',
    'calories'
])

meal_tuple = (
    meal_collection(meal='BreakFast', main='bread', fruits='apples', drink='coffee', calories=500),
    meal_collection(meal='Lunch', main='noodle', fruits='grapes', drink='soda', calories=300),
    meal_collection(meal='Dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700),
    meal_collection(meal='BreakFast', main='bread', fruits='apples', drink='coffee', calories=500),
    meal_collection(meal='Lunch', main='noodle', fruits='grapes', drink='soda', calories=300),
    meal_collection(meal='Dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700),
    meal_collection(meal='BreakFast', main='bread', fruits='apples', drink='coffee', calories=500),
    meal_collection(meal='Lunch', main='noodle', fruits='grapes', drink='soda', calories=300),
    meal_collection(meal='Dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700),
    meal_collection(meal='BreakFast', main='bread', fruits='apples', drink='coffee', calories=500),
    meal_collection(meal='Lunch', main='noodle', fruits='grapes', drink='soda', calories=300),
    meal_collection(meal='Dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700),
)

pprint(meal_tuple)

def temp_filter(x):
    print(f'Processing record {x.meal}')
    time.sleep(1)
    temp_result = {'meal': x.meal, 'calories': x.calories}
    print(f'Done record {x.meal}')
    return (temp_result)
'''

mycode = '''
pool = Pool()
result = pool.map(temp_filter, meal_tuple)
#result = tuple(map(
#     temp_filter,
#     meal_tuple
#     ))
'''

time_elapsed = timeit.timeit(setup = mysetup, stmt=mycode, number =1)

print(f'Time elapsed: {time_elapsed:.5f}s')
# pprint(result)

(meal(meal='BreakFast', main='bread', fruits='apples', drink='coffee', calories=500),
 meal(meal='Lunch', main='noodle', fruits='grapes', drink='soda', calories=300),
 meal(meal='Dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700),
 meal(meal='BreakFast', main='bread', fruits='apples', drink='coffee', calories=500),
 meal(meal='Lunch', main='noodle', fruits='grapes', drink='soda', calories=300),
 meal(meal='Dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700),
 meal(meal='BreakFast', main='bread', fruits='apples', drink='coffee', calories=500),
 meal(meal='Lunch', main='noodle', fruits='grapes', drink='soda', calories=300),
 meal(meal='Dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700),
 meal(meal='BreakFast', main='bread', fruits='apples', drink='coffee', calories=500),
 meal(meal='Lunch', main='noodle', fruits='grapes', drink='soda', calories=300),
 meal(meal='Dinner', main='steak', fruits='watermelon', drink='sparkling water', calories=700))
Processing record BreakFastProcessing record Dinner

Done record DinnerDone record BreakFast
Processing record BreakFast

Processing record Lunch
Done record BreakFast
Processing record Lunch
Done record Lunch
Processing record BreakFast
Done record Lunch
Processing record Dinner
Done record BreakFast
Processing record Lunch
Done record Lunch
Processing record Dinner
Done record Dinner
Processing record Lunch
Done record Dinner
Processing record BreakFast
Done record Lunch
Processing record Dinner
Done record BreakFast
Done record Dinner
Time elapsed: 6.01588s